<div class="flash-card">
	<h1>{{card.question | uppercase}}</h1>
	    <h3>QUESTION CATEGORY: {{card.category | uppercase}}</h3>
	    <ul class="flash-card-answers">
	        <li id="animated_div" class="flash-card-answer" ng-click="answerQuestion(m.correct)" ng-repeat="m in card.answers">
	        	<div class="steel">
	            {{m.text| uppercase}}
	            </div>
	        </li>
	    </ul>
	<h2 class="answer-feedback" ng-show="answered" ng-class="{correct: answeredCorrectly, incorrect: !answeredCorrectly}">
	    <span ng-show="answeredCorrectly">Yeah, you got it right!</span>
	    <span ng-show="!answeredCorrectly">Nope, you got it wrong.</span>
	</h2>
</div>